.sfondo {   
    
    background:  url(./media/mountains.png), linear-gradient(white , transparent) , url(./media/switzerland-862870_1920.jpg) ; 
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 600%;
    color: darkred;
    letter-spacing: 100px;
    font-family: "Nova Square";
}
